/* @charset and a non-existent rule between @import rules */
@import "./someOtherStylesheet.css";
@charset "utf-8";
@test;
@import "./aDifferentStylesheet.css";

body::before {
  display: block;
  content: "ə";
  font-size: 5em;
}
